<a href="https://colab.research.google.com/github/buenaflorJ-nine/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Review of Python

Python Indentation

In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [ ]:
# This is a comment
print("Hello world")

Python Variable

In [3]:
x = 1
a, b  = 0, -1
a, b, c = 0, -1, 2
d = "Sally" #This is a type of string
print(c)

2

Casting

In [4]:
b = "Sally"
b = int(4)
print(b)

b= float(4)
print(b)

4
4.0

Type() Function

In [6]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double quote or Single Quotes

In [11]:
y = "John"
y = 'John'

Case Sensitive

In [10]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

Multiple Variables

In [12]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [13]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [17]:
x = "enjoying"
print("Python programming is " + x)

#Other way
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying
Python is enjoying

Arithmetic Operations

In [19]:
x = 5
y = 3
print(x+y)

x = 5
y = 4
sum = x+y
print(sum)

8
9

Assigning Operators

In [20]:
a,b,c = 0,-1,-6
c%=3
print(c)

0

Comparison and Logical Operators

In [21]:
#and, or, not
a,b,c=0,-1,6
a>b and c>b
True

True

Identity Operators

In [24]:
#is, is not
a,b,c = 0,-1,5
a is c
True

True

Bitwise Operators

In [28]:
#AND, OR, XOR, NOT, Zero fill left shift <<, Signed right shift>>
a,b,c = 0,-1,5
a >> c
False

False